<!-- <head>
  <script src="https://use.fontawesome.com/f47db18e87.js"></script>
</head> -->
<body>
  <nav id ="nav" class="navbar navbar-expand-md navbar-dark mr-0">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="name" href="/">ITS</a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Research</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Countries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>

    <div class="d-flex align-items-center">
      <p class="mb-0">Sign in</p>
      
      <i class="far fa-user-circle"></i>
    </div>
  </div>    
</nav>
</body>