<body>
    <div class="container">
        <div class="info d-flex justify-content-around">
            <img src="https://s3-alpha-sig.figma.com/img/20e5/6dc7/3ea047f7a9a81c6723b2010565dcc102?Expires=1639958400&Signature=LNZt07YwUZi2OdVx2IY11hIdxr-Onp~PbQ67SVo1NjHcxik4~7Q0bvRYowuvR4CVbtKqyN32ERyaFxCsQdD8wFqSEXvbzCkrgmvd~5kQClOqytPHTV0oV~pNJFLp~EPGbCo~Iv~Yj7YRII1krYkQoQo5dBZW7zAAc~I4s2YngYVyQwJQV~wUU5yXLf3VER0xwffCxAbumxvNcrrasej5LOfJBWqpAaJIjTDeTWy83hgPpJmz5Xd~9cylew3EoKDRf65qauRqjmGHfjbr6IRAQupTpjTWX2yMgzriKG7DjHpm1HNZQNvMvEuUKWXBcGCQz2ZopjPLsdDZ1vSckPVyTw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
            <p>We develop patent analytical tool based on deep scientific research 
                which allow:<br> 
                - companies estimate opportunities on global market and create international strategy
                for their knowledge-intensive manufactured products;<br> 
                - policy makers could analyse current situation in the world by different dimensions,
                develop domestic and foreign technological landscape, catch up-to-date technological trends.<br> 
                <br> 
                The web-site gives access to huge database which we collect and calculate over time,
                to self-developed analytical tools, to a smart visualisation.<br>
                <br>
                <span>Our philosophy and theory: </span><br>
                Outward-bound international patenting could be discussed as economic activity and
                a forecasting tool for market growth. Influence of international patenting activity on national
                wealth of different countries was described in the scientific paper in top journals (see <a href="/research">Research</a>).
            </p>
        </div>
        <h2>Distribution of IPAD index values by countries in the selected year</h2>
    </div>
</body>
